* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  overflow: auto;
}